# ===== Local configuration (DO NOT PUSH REAL PASSWORDS) =====
backend/src/main/resources/application-local.properties

# ===== IntelliJ files =====
.idea/
*.iml

# ===== Maven build output =====
backend/target/

# ===== OS junk =====
.DS_Store
Thumbs.db

# Python
ml/venv/
ml/__pycache__/
**/__pycache__/
*.pyc

# Trained model artifacts
ml/model/*.pkl
ml/model/*.json